@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,300;1,400&display=swap');


html, body
{
    margin: 0px;
    background-color: #63618e !important;
    font-family: 'Roboto',sans-serif;
}
.container-1{
  align-items: center;
  translate: translateY(50%,50%);
  padding-bottom: 0;
}
.container-2{
  margin-top: -125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated{
  width: 600px;
  height: auto;
}
.container-1 h1,legend{
  color: aliceblue;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
}
legend{
margin-left: -140px;
margin-bottom: 20px;
}
.container-1 h6{
  color: rgb(212, 219, 225);
  text-align: center;
  font-weight: 200;
  font-size: 1rem;
}
.form-pass{
  flex-basis: 50%;
  margin-right: 20px;
}
.form-floating {
  position: relative;
  margin-bottom: 0.625rem;
}
.form-floating:last-of-type {
  margin-bottom: 0;
}
.form-floating > .myform-control,
.form-floating > .form-select {
  height: 20px;

}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  height: 100%;
  padding: 1.038rem 1.038rem;
  border: 1px solid transparent;
  pointer-events: none;
  transform-origin: 0 0;
  -webkit-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color:#63618e !important;
}
.form-floating > .myform-control::placeholder {
  color: transparent;
}
.form-floating > .myform-control:focus, .form-floating > .myform-control:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .myform-control:-webkit-autofill {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .myform-control:focus ~ label,
.form-floating > .myform-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.65;
  transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .myform-control:-webkit-autofill ~ label {
  opacity: 0.65;
  transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}

.myform-control {
  display: block;
  font-family: "roboto";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  color: #63618e;
  width: 60%;
  height: 35px;
  padding: 0.938rem 0.938rem;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 0.25rem;
  appearance: none;
  box-shadow: none;
  -webkit-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
  margin-bottom: 20px;
}
#alert{
  text-align: center;
  
}
.myform-control:focus {
  color: #58595b;
  background-color: #fff;
  border-color: #fff;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-13 {
  background-color: #ba68c8;
background-image: linear-gradient(315deg, #ba68c8 0%, #de9dea 74%);
  border: none;
  z-index: 1;
  left: 22%;
}
.btn-13:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
   background-color: #ba68c8;
background-image: linear-gradient(315deg, #ba68c8 0%, #de9dea 74%);
  box-shadow:
   -7px -7px 20px 0px rgba(255, 255, 255, 0.01),
   -4px -4px 5px 0px rgba(255, 255, 255, 0.09),
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.btn-13:hover {
  color: #fff;
}
.btn-13:hover:after {
  top: 0;
  height: 100%;
  
}
.btn-13:active {
  top: 2px;
}
button {
  margin: 20px;
  
}
fieldset{
  border: none;
}

.custom-btn {
  width: 130px;
  height: 35px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.01),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.custom-select{
  width: 64.2%;
  height: 55px;
  text-align: left;
  padding: 0.938rem 0.938rem;
  border: 0;
  outline: 0;
  font-family: 'Roboto';
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.25;
  color: #63618e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.custom-select option{
  background-color: #63618e;
  color:aliceblue;

} 


/* upload file */

.file-upload{display:block;text-align:center;font-family: 'Roboto', Arial, sans-serif;font-size: 12px; width: 80%;margin-top:20px;}
.file-upload .file-select{border-radius: 5px;display:block;border: 2px solid #dce4ec;color: #5c636a;cursor:pointer;height:55px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:6px 20px;display:inline-block;height:55px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 20px;}
.file-upload .file-select:hover{border-color:#5c636a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#5c636a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:55%;width:64.2%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #5c636a;cursor:pointer;height:55px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 20px;display:inline-block;height:55px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 20px;}

/* page infos candidat */
.card {
  background-color: #f1f1f1;
  padding: 50px;
  border-radius: 10px;
  box-shadow:10px 8px 9px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10%;
  margin-top: 120px;
}

.card h2 {
  margin-bottom: 10px;
}

.card-content {
  margin-top: 20px;
}

.card-content p {
  margin-bottom: 10px;
}

.card-content strong {
  font-weight: bold;
}

#file-upload{
  width: 100% !important;

}
#btn-13{
  padding: 8px !important;
  margin-top: 20px;
}
#freepik_stories-resume-folder{
  margin-left: 180px;
}

/* waves */


.foot {
  font-family: 'Roboto', sans-serif;
  font-weight:700;
  font-size:1em;
  color: #63618e;
}





.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 margin-top: -13px;
}
.waves {
  position:relative;
  width: 100%;
  height:13vh;
  margin-top: -45px;
  min-height:100px;
  max-height:110px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}
.flex ul{
  align-items: flex-start;
  list-style-type: none;
}