@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100;1,300;1,400&display=swap');


html, body
{
    margin: 0px;
    background-color: #63618e;
}
.sect-1{
    text-align: center;
    font-family: 'Roboto';
    color: aliceblue;
}

.sect-1 p{
    margin: 0;
    font-weight: 400;
    font-size: 1.2em;
   padding-left: 50px;
}

.tit{
    margin-top: 50px !important;
    font-weight: bold !important;
    font-size: 3em !important;
}
.animated{
    margin-top: -50px;
    height: 600px;
    width: 600px;
}